@font-face {
  font-family: PirelliItalic;
  src: url('JLPirelliTrial-RegularItalic.otf')
    format("opentype");
}
@font-face {
  font-family: PirelliRegular;
  src: url('JLPirelliTrial-Regular.otf')
    format("opentype");
}

@font-face {
  font-family: PirelliThinItalic;
  src: url('JLPirelliTrial-ThinItalic.otf')
    format("opentype");
}
@font-face {
  font-family: PirelliThin;
  src: url('JLPirelliTrial-Thin.otf')
    format("opentype");
}
@font-face {
  font-family: PirelliMediumItalic;
  src: url('JLPirelliTrial-MediumItalic.otf')
    format("opentype");
}
@font-face {
  font-family: PirelliMedium;
  src: url('JLPirelliTrial-Medium.otf')
    format("opentype");
}
@font-face {
  font-family: PirelliLightItalic;
  src: url('JLPirelliTrial-LightItalic.otf')
    format("opentype");
}
@font-face {
  font-family: PirelliLight;
  src: url('JLPirelliTrial-Light.otf')
    format("opentype");
}
@font-face {
  font-family: PirelliThinItalic;
  src: url('JLPirelliTrial-ThinItalic.otf')
    format("opentype");
}
@font-face {
  font-family: PirelliThin;
  src: url('JLPirelliTrial-Thin.otf')
    format("opentype");
}
@font-face {
  font-family: PirelliBoldItalic;
  src: url('JLPirelliTrial-BoldItalic.otf')
    format("opentype");
}
@font-face {
  font-family: PirelliBold;
  src: url('JLPirelliTrial-Bold.otf')
    format("opentype");
}

@font-face {
  font-family: DirectorBold;
  src: url('Director-bold.otf')
    format("opentype");
}
@font-face {
  font-family: DirectorRegular;
  src: url('Director-Regular.otf')
    format("opentype");
}
@font-face {
  font-family: DirectorLight;
  src: url('Director-Light.otf')
    format("opentype");
}

html, body {
  margin: 0;
  padding: 0;
  /* background-color: rgb(52, 52, 52); */
}
canvas {
  display: block;
}

.close-button:hover {
text-shadow: 0 0 7px #FFEB3B;
}
.close-button {
/* padding-bottom:5px; */
margin-top:3px;

}
.dg .c select {
    margin-top: 1px;
}
.dg li:not(.folder) {
    /* background: none; */
/*     border-bottom: 1px solid #fff; */
  /* padding-bottom:5px; */
  
  width:235px;
}
.dg .property-name{
    width:70px;

}
.dg.a {
       border: .5px solid #fff;
}
.dg.main .close-button{
  line-height:32px;
  margin-top: 0px;
text-align: center;
font-size: 16px; 
display:grid;
align-content: center;
align-content: center;
 margin-bottom: 0px;
  height:30px;
  padding-right:0px;

}
select {
  font-family: 'PirelliLight', sans-serif;
  font-size:11pt;
}
.title { 
font-family: 'DirectorLight', serif;
font-size: 7.8em;
line-height:1.14em;
letter-spacing: -.04em;
position: relative;
text-align: center;
color:#538e3f ;
padding-top:11.7vw;


}
.title:hover{
  text-shadow: 0 0 50px #ffeb3b94;

}
.container { 
  position: relative;
  margin: 0 auto;

}
.color{
  width:100vw;
  height:100vh;
  background-color: rgba(250,250,250,.1);
}
.counterbox {
    border: 1px solid #538e3f;
    width: 310px;
    height: 38px;
    position: fixed;
    background-color: #fff;
    text-align: center;
    right: 245px;
    top: -1px;
    color: #538e3f;
    font-family: 'PirelliLight', sans-serif;
    font-size:12pt;
    z-index: 10;
}
  .counterbox:hover {
    text-shadow: 0 0 7px #FFEB3B;
    
}
.archivebox {
  border: 1px solid #538e3f;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
  height: 38px;
  position:absolute;
  background-color: #fff;
  text-align: center;
  right: 162px;
  top: 0px;
  color: #538e3f;
  font-family: 'PirelliLight', sans-serif;
  font-size:12pt;
  z-index: 10;
}
.archivebox:hover {
  text-shadow: 0 0 7px #FFEB3B;
}
.aboutbox {
  border: 1px solid #538e3f;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
  height: 38px;
  position: fixed;
  background-color: #fff;
  text-align: center;
  right: 1px;
  top: 0px;
  color: #538e3f;
  font-family: 'PirelliLight', sans-serif;
  font-size:12pt;
  z-index: 10;
}
.aboutbox:hover {
  text-shadow: 0 0 7px #FFEB3B;
}
/* .countstyle:hover {
  text-shadow: 0 0 7px #FFEB3B;
  } */
  ::selection {
    background:  #ffeb3b4d; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background:  #ffeb3b4d; /* Gecko Browsers */
  }
  #area {
    width: 100vw;
    height: 100vh;
    margin-top:50px;
    z-index: 0;
    position: fixed;

  }
  #area2 {
    width: 100vw;
    height: 100vh;
    margin-top:50px;
    z-index: 0;
    position: fixed;
  }

  .backbox {
    border: 1px solid #538e3f;
    width: 41px;
    height: 34px;
    position: fixed;
    text-align: center;
    left: 0px;
    top: -1px;
    color: #538e3f;
    font-family: 'PirelliThin', sans-serif light;
    background-color: #fff;
    font-size:13pt;
    padding-top:9px;

}
.backbox:hover {
  text-shadow: 0 0 7px #FFEB3B;
}

.flowerbox {
  border: 1px solid #538e3f;
  width: 44px;
  height: 34px;
  position: fixed;
  text-align: center;
  right: 0px;
  top: -1px;
  color: #538e3f;
  font-family: 'PirelliThin', sans-serif light;
  background-color: #fff;
  font-size:23pt;
  line-height: 23px;
  padding-top:9px;

}
.flowerbox:hover {
text-shadow: 0 0 7px #FFEB3B;
}

.morebox {
  border: 1px solid #538e3f;
  width: 41px;
  height: 34px;
  position: fixed;
  text-align: center;
  left: 41px;
  top: -1px;
  color: #538e3f;
  font-weight: 100;
  font-family: sans-serif;
  background-color: #fff;
  font-size:18pt;
  line-height: 25px;
  padding-top:9px;
}
.morebox:hover {
text-shadow: 0 0 7px #FFEB3B;
}


video {
  object-fit: cover;
  /* filter: brightness(80%);  */
  /* opacity: 70%; */
   width: 100vw;
  height: auto;
  position: fixed;
  left: 0;
  bottom:0;
  z-index: -10;
}
.map {
  width: 100%;
  height: auto;
}
.enterbox {
  border: 1px solid #538e3f;
  width: auto;
  margin-top:80px;
  padding-left: 70px;
  padding-right: 70px;
  height: 38px;
  background-color: #fff;
  text-align: center;
  color: #538e3f;
  font-family: 'PirelliLight', sans-serif;
  font-size:12pt;
  z-index: 10;
  position: absolute; 


}
.enterbox:hover {
  text-shadow: 0 0 7px #FFEB3B;
}

.outer {
  display: flex;
  justify-content: center;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: #fff;
  color: #538e3f;
  font-family: 'PirelliLight', sans-serif;
      font-size:12pt;
        background: white;
        text-align: left;
        border: 1px solid #538e3f;
          border-radius: 0px;
  padding: 15px 15px;

  /* Position the tooltip */
  position: absolute;
  z-index: 10;
  top: 120%;
  left: 0px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}



/* First the Grid */
.gallery-grid {
  display: grid;
  justify-self: center;
  justify-items: center;
  /* grid-template-columns: repeat(auto-fill, minmax(590px, 1fr)); */
  grid-gap: 0px;
  justify-items: center;
  margin: 5vw;  
  grid-template-columns:1fr 1fr ;
  padding: 0px;
  margin-top: 0px;
  /* width: 100vw; */
  object-fit:none;
  left:0px;

}

/* The Picture Frame */
.gallery-frame {
  padding: 0px;
  margin:0px;
  padding-left: 0px;
  margin-top: 80px;
  font-size: 1.2rem;
  text-align: center;
height:22vw;
width:auto;
left:0px;

  background-color: white;
  color: #538e3f;
  font-family: 'PirelliLight', sans-serif;
      font-size:12pt;  object-fit: cover;
}

/* The Images */
.gallery-img {
justify-content: center;
align-items: center;
height: 98%;
left:0px;
border: 1.0px solid #538e3f;
filter:drop-shadow( 1px 1px 10px #ffe6005a);

}


.artitle { 
  font-family: 'DirectorLight', serif;
  font-size: 7em;
  line-height:1em;
  letter-spacing: -.04em;
  text-align: center;
  color:#538e3f ;
  padding-top:70px;
  padding-bottom:2.53vw;

  /* text-shadow: 0px 0px 40px #ffe600d1; */

  }
  /* .artitle:hover{
    text-shadow: 0 0 50px #ffeb3bc4;
  
  } */
  .artext {
    width: auto;
    margin-top:40px;
    padding-bottom: 30px;
width: 580px;
    text-align: center;
    color: #538e3f;
    font-family: 'PirelliLight', sans-serif;
    font-size:13pt;
    z-index: 10;
    display: block;
    margin: auto;

  }

  .arbox {
    border: 1px solid #538e3f;
    padding-left: 13px;
    padding-right:13px;
    padding-top: 3px;
    padding-bottom: 6px;
    margin-top:10px ;
    background-color: #fff;
    text-align: center;
    color: #538e3f;
    font-family: 'PirelliLight', sans-serif;
    font-size:13pt;
    z-index: 10;
text-align: center;
align-self: center;
justify-content: center;
margin: auto;
  width: 200px;
  }
  .arbox:hover {
    text-shadow: 0 0 7px #FFEB3B;
  }
  .abtitle { 
    font-family: 'DirectorLight', serif;
    font-size: 7.5em;
    line-height:1em;
    letter-spacing: -.03em;
    position: relative;
    text-align: center;
    color:#538e3f ;
    padding-top:1vw;
    
    
    }
    .abtitle:hover{
      text-shadow: 0 0 50px #ffeb3b94;
    
    }
    .abtext {
      width: auto;
      margin-top:40px;
      padding-bottom: 30px;
  width: 580px;
      text-align: left;
      color: #538e3f;
      font-family: 'PirelliLight', sans-serif;
      font-size:13pt;
      z-index: 10;
      display: block;
      margin: auto;
  
    }
  